{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="css/dashboard">
{% endblock %}

{% block content %}
    <div id="main-column">
        <yac-title-set v-bind:yac-titles="[
            {
                titleHead: 'w',
                titleTail: 'elcome, {{ name }}!'
            },
            {
                titleHead: 'p',
                titleTail: 'ick a room'
            }
        ]"></yac-title-set>
        <form action="/chat" method="POST">
            <input type="hidden" name="name" value="{{ name }}">
            <div id="buttons" v-pre>
                <room-button v-for="room in rooms"
                v-bind:room-name="room.name"
                v-bind:room-id="room._id"></room-button>
            </div>
        </form>
        <img id="sofa" src="/svg/icon_sofa">
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/dashboard" type="module"></script>
{% endblock %}